megs: 256
romimage: file=/usr/share/bochs/BIOS-bochs-latest
vgaromimage: file=/usr/share/bochs/VGABIOS-lgpl-latest

boot: disk
ata0-master: type=disk, path="build/disk.img", cylinders=490, heads=8, spt=32

# 260 * 16 * 32 * 512 = 67,584,000 bytes (~64MB)

log: bochslog.txt
debug: action=ignore
clock: sync=realtime

display_library: sdl2, options="gui_debug"

mouse: enabled=0
